#answer1{
  display: none;
  border-radius: 15%;
  background-color: aqua;
  padding: 10px;
  margin: 5px;
}

#answer2{
  display: none;
  border-radius: 15%;
  background-color: rgb(98, 255, 7);
  padding: 10px;
  margin: 5px;
}

#answer3{
  display: none;
  border-radius: 15%;
  background-color: rgb(255, 41, 41);
  padding: 10px;
  margin: 5px;
}

#answer4{
  display: none;
  background-color: rgb(217, 0, 255);
  border-radius: 15%;
  padding: 10px;
  margin: 5px;
}

body{
  background-color: cadetblue;
}

.colorbox{
  padding: 5px;
  background-color: rgb(75, 110, 177);
  text-align: center;
}

#boxhead{
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#boxhead2{
  font-size: x-large;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.quizalign{
  text-align: center;
  padding: 5px;
  margin: 5px;
}

#lefttext{
  padding: 5px;
  margin: 5px;
  background-color: rgb(38, 233, 135);
  text-align: center;
}

#bottomrow{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  font-weight: bolder;
}



.answerhead{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

.answertext{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: larger;
}

.answertext2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: larger;

}

.answerlist{
  text-align: center;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: larger;
}

#buttonshape{
  padding: 5px;
  margin: 5px;
}

.sizeimg{
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}