#answer1{
  display: none;
  border-radius: 15%;
  background-color: aqua;
  padding: 10px;
}

#answer2{
  display: none;
  border-radius: 15%;
  background-color: rgb(98, 255, 7);
  padding: 10px;
}

#answer3{
  display: none;
  border-radius: 15%;
  background-color: rgb(255, 41, 41);
  padding: 10px;
}

#answer4{
  display: none;
  background-color: rgb(217, 0, 255);
  border-radius: 15%;
  padding: 10px;
}

body{
  background-color: cadetblue;
}

.colorbox{
  padding: 5px;
  background-color: rgb(75, 110, 177);
  text-align: center;
}

#boxhead{
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}